# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Vincent\Documents\Year 3\Sem 2\NET 3204 Distribution System\Week 12\Extra\akkapublicclient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
